.section {
  width: 18vw;
  margin-top: 3vh;
  height: 65vh;
  background: rgba(172, 175, 175, 0.3);
  border-radius: 15px;
  /* margin-right: 2vw; */
}
.section_base {
  width: 18vw;
  margin-top: 3vh;
  height: 65vh;
  background: rgba(172, 175, 175, 0.3);
  border-radius: 15px;
}
.section_in {
  width: 18vw;
  margin-top: 3vh;
  height: 65vh;
  background: rgba(172, 175, 175, 0.3);
  border-radius: 15px;
}
.Create_section {
  display: flex;
  gap: 2vw;
  margin-top: 1vh;
  padding-bottom: 1vh;
  overflow-y: hidden;
  overflow-x: auto; /* or overflow: scroll; */
}
/* custom scroll bar */
/* webkit-based browsers */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  margin-top: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

/* .section_input {
  display: none;
} */
.section_name {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  width: 18vw;
  height: 5vh;
  background-color: rgb(117 21 131);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  cursor: default;
  position: relative;
}
.section_btnAdd {
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  width: 50px;
  border-radius: 50%;
  background-color: #d2c8c8;
}
.section_task {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.modal_add_member li {
  border-radius: 5px;
  margin: 0;
  padding: 1vh 0;
}
.modal_add_member li:hover {
  background-color: #eee;
  padding: 2vh 0;
}
.des_section {
  padding: 2px 10px;
  width: 17vw;
  height: 4vh;
  border-radius: 15px;
  border: none;
}
.section_name button {
  background-color: white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-left: 1px solid black !important;
  border: none;
  padding-left: 5px;
  cursor: pointer;
  position: absolute;
  z-index: 9;
  right: 1vw;
  height: 3vh;
  margin: auto;
}
.listTaskOfM {
  display: none;
  background-color: rgb(168, 166, 166);
  border-radius: 20px;
}
.listTaskOfM ul {
  list-style-type: none;
}
.listTaskOfM ul li {
  font-size: 16px;
  margin: 5px auto !important;
  padding: 1vh 40px;
  pointer-events: none;
}
